@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 bg-gray-200 rounded-full  text-gray-700 cursor-pointer
    hover:bg-gray-300 w-10 h-10

  
  }

  .input {
    @apply p-2 border-0 outline-none border-b border-blue-600 w-full
  }

  .fully {
    border-radius: 50%;
  }

  .my-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .my-img-sm {
    width: 125px;
    height: 125px;
    object-fit: cover;
  }

  input:invalid[focused='true'] {
    border-bottom: red 1px solid;
  }

  input:invalid[focused='true']  + p{
display: block;
color: red;
font-size: 0.8rem;
  }

  button:disabled {
    @apply bg-blue-200 cursor-not-allowed
  }
  .outlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.209);
  }

  .theContent::-webkit-scrollbar {
display: none;
  }

  .date {
    font-size: 10px;
  }
  .tools {
    cursor: pointer;
    padding: 5px;
    flex: 1;
  display: flex;
  justify-content: center;
    color:gray;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    
  }
  
  .father {
    border-top: 1px solid;
   
  }

  .layout {
    background-color: rgba(0, 0, 0, 0.808);
    z-index: 20;
  }
  .theInput {
    border-top: 1px solid;
  }
.sc {
  height: 450px;
}
 .sc::-webkit-scrollbar{
  display: none;
 }

 .light {
  border:1px solid ;
 }
 .likes {
  background-color: rgba(178, 174, 174, 0.575);
 }

 
 
}